
/* body {
    display: flex;
    align-items: center;
    align-content: center; 
    justify-content: center; 
    overflow: auto; 

} */

.grid {
    display:flex;
    flex-wrap: wrap;
    height:300px;
    width:400px;
      

}